<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>

    </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <div class="infoContainer">
                <h2>CREATE NEW ARTIST </h2>
                <form action="/artist/create" method="POST">
                    <label for="firstName">First Name :
                        <br><input type="text" name="firstName" id="firstName" required>
                    </label>
                    <br><br>
                    <label for="lastName">Last Name :
                        <br><input type="text" name="lastName" id="lastName" required>
                    </label>
                    <br><br>
                    <label for="birthDate">Date of Birth :
                        <br><input type="date" name="birthDate" id="birthDate" required>
                    </label>
                    <br><br>
                    <label for="deathDate">Date of Death :
                        <br><input type="date" name="deathDate" id="deathDate" >
                    </label>
                    <br><br>
                    <label for="country">Country :
                        <br><input type="text" name="country" id="country" required>
                    </label>
                    <br><br>
                    <label for="imageUrl">Image Url :
                        <br><input type="url" name="imageUrl" id="imageUrl" placeholder="https://example.com" pattern="https://.*"  >
                    </label>
        
                    <br><br> <br><button class="submit button" type="submit">Create Artist</button>
                </form>
            </div>
        </div>

    </body>
</html>