<dialog>
    <h3>DELETE CONFIRMATION !!!!!! </h3>
    <h3> Deleting this <%=name%> will Delete all its <%=linkedItems%></h3>
    <h3>ARE YOU SURE YOU WANT TO DELETE <%=name +" "+itemName %> </h3>
    <!-- <% console.log(deleteLink)%> -->
    <div class="canceDeleteDiv">
        <button autofocus class="cancelButton">CANCEL</button>


        <form class="searchBarForm" action="<%=deleteLink%>" method="POST">
                <button type="submit" class="mainDeleteButton">DELETE</button>
        </form>

    </div>
    
  </dialog>