<html>
    <head>
        <title>Genre Create</title>
    </head>
    <body>
        <form action="/genre/create" method="POST">
            <label for="genreName">Label Name :
                <br><input type="text" name="genreName" id="genreName" required>
            </label>
            <br><br>
            <button type="submit">Create Genre</button>
        </form>
    </body>
</html>