<html>
    <head>
        <title>Genre Create</title>
    </head>
    <body>
        <form method="POST">
            <label for="genreName">Label Name :
                <br><input type="text" name="genreName" id="genreName" required value= <%= typeof genre === "undefined" ? "" : genre[0].genrename %> >
            </label>
            <br><br>
            <button type="submit">Create Genre</button>
        </form>
    </body>
</html>