<div class="header">
    <div class="date">
        <% const d = new Date().toDateString()%>
        <p class="itemHeading"><%=d%></p>
        
    </div>
    <div class="searchBar">
        <form class="searchBarForm" action="/searchResults" method="POST">
            <input class="searchBarInput"  type="text" placeholder="Search" name="searchQuery">
            <button type="submit" >Search</button>
        </form>
    </div>
</div>