<div class="header">
    <div class="date">
        <% const d = new Date().toDateString()%>
        <p><%=d%></p>
        
    </div>
    <div class="searchBar">
        <form class="searchBarForm" action="">
            <input class="searchBarInput"  type="text" placeholder="Search">
            <button type="submite" >Search</button>
        </form>
    </div>
</div>