<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <a href="/artist/create">Artist Create</a>
        <br><br>
        <a href="/album/create">Album Create</a>
        <br><br>
        <a href="/label/create">Label Create</a>
        <br><br>
        <a href="/genre/create">Genre Create</a>
        <br><br>
        <a href="/release/create">Release Create</a>
    </body>
</html>