<html>
    <head>
        <title>Artist Create</title>
    </head>
    <body>
        <form action="/label/create" method="POST">
            <label for="labelName">Label Name :
                <br><input type="text" name="labelName" id="labelName" required>
            </label>
            <br><br>
            <label for="yearFounded">Year Founded :
                <br><input type="number" name="yearFounded" id="yearFounded" required>
            </label>
            <br><br>
            <button type="submit">Create Label</button>
        </form>
    </body>
</html>