<html>
    <title>
        Label Details
    </title>
    <body>
        <span><%= label[0].labelname %></span>
        <a href="/label/<%=label[0].id%>/update">Edit</a><br><br>
        <a href="/label/<%=label[0].id%>/delete">Delete</a><br><br>
    </body>
    <%- include("albumsAndReleases" ,{allAlbums : allAlbums,allReleases : allReleases }) %>
</html>