<html>
    <head>
        <title>RELEASE CREATE</title>
    </head>
    <body>
        <form action="/release/create" method="POST">
            <label for="album">SELECT ALBUM : 
                <select name="album" id="album" required>

                    <% for(let i = 0 ; i < allAlbums.length ; i++){ %>
                        <option value= <%=allAlbums[i].id %> > <%=allAlbums[i].albumname %> </option>
    
                    <%}%>
    
                </select> 

            </label>
            <br><br>
            <select name="format" id="format">Format: 
                <option value="CD">CD</option>
                <option value="Vinyl">Vinyl</option>
                <option value="Cassette">Cassette</option>
                <option value="Digital">Digital</option>
            </select>
            <br><br>
            <label for="price">
                Price : 
                <input type="number" id="price" name="price" required>
            </label>
            <br><br>
            <label for="stock">
                Stock : 
                <input type="number" id="stock" name="stock" required>
            </label>
            <br><br>
            <label for="barcode">
                Barcode : 
                <input type="text" id="barcode" name="barcode" >
            </label>
            <br><br>
            <label for="imageUrl">Image Url :
                <br> <input type="url" name="imageUrl" id="imageUrl" placeholder="https://example.com" pattern="https://.*"  >
            </label>
            <br><br>
            <button type="submit">Create Instance</button>
        </form>
    </body>
</html>