<div class="sideBar">
    <h2>Music Inventory</h2>
    <br><br>
    <a href="/dashboard">Dashboard</a>
    <br><br>
    <h3>Categories</h3>
    <a href="/category/artists">All artists</a>
    <br><br>
    <a href="/category/albums">All Albums</a>
    <br><br>
    <a href="/category/labels">All Labels</a>
    <br><br>
    <a href="/category/genres">All Genres</a>
    <br><br>
    <a href="/category/releases">All Releases</a>
    <br><br>
    <h3>Add New</h3>
    <a href="/artist/create">Artist Create</a>
    <br><br>
    <a href="/album/create">Album Create</a>
    <br><br>
    <a href="/label/create">Label Create</a>
    <br><br>
    <a href="/genre/create">Genre Create</a>
    <br><br>
    <a href="/release/create">Release Create</a>
</div>